.shopping-cart-table {
  margin-top: 45px;
}

.shopping-cart-table .total {
  text-align: right;
  font-size: 1.3rem;
  margin-right: 10px;
}

.shopping-cart-table button {
  margin: 2px 5px;
}

.shopping-cart-action {
  display: flex;
  justify-content: center;
}

.shopping-cart__last-title {
  text-align: center;
}

.table thead th {
  border-bottom: none;
}
